@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
svg {
  width: 4rem;
  height: auto;
  overflow: visible;
  stroke-linejoin: round;
  stroke-linecap: round;
}

svg g path {
  stroke: #fff;
}
